.cardsContainer{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: flex-start;
     width: 100%;
     height: 300px;
     background-color: var(--hoverbg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: 110%;
     border: solid;
     border-width: 2px;
     border-color: var(--bordercolor);
     contain: content;
     border-radius: 10px;
     box-sizing: border-box;
     transition: background-color 0.2s ease, background-size 0.2s ease, border-color 0.2s ease;
}
.cardsContainer:hover{
     background-color: var(--accentbg);
     background-size: 115%;
     border-color: var(--accentcolor)
}


/*moves everything down to bottom*/
.cardsContainer .subclass-image-container{
     width: 30px;
     aspect-ratio: 1;
     background-size: 80%;
     background-position: center;
     background-repeat: no-repeat;
     box-sizing: border-box;
     background-color: rgb(20, 20, 20, 0.5);
     border-bottom-right-radius: 5px;
     backdrop-filter: blur(3px);
}


.cardsContainer .cardsContent{
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     width: 100%;
     height: 80%;
     padding: 0.5rem;
     background-image: linear-gradient(to top, rgb(20, 20, 20) 10%, rgba(0, 0, 0, 0) 100%);
     box-sizing: border-box;
}
.cardsContainer .cardsContent h2{
     word-wrap: break-word;
     font-size: 20px;
}

/*displays the class and stars*/
.cardsClassAndStars{
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}
.cardsClassAndStars p, .cardsStars p{
     color: var(--subtextcolor);
}
.cardsStars{
     display: flex;
     align-items: center;
}
.cardsStars svg{
     width: 20px;
     aspect-ratio: 1;
     fill: var(--starcolor);
}