.mainNav{
     user-select: none;
} 

/* sidebar */
.mainNav .sidebar{
     position: fixed;
     display: flex;
     flex-direction: column;
     height: 100svh;
     z-index: 1000;
     background-color: var(--bgcolor1);
     border-right: 1px solid var(--bordercolor);
     box-sizing: border-box;
}
.mainNav .sidebar .titleBox{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100px;
     padding: 0 1rem;
     border-bottom: 1px solid var(--bordercolor);
     box-sizing: border-box;
}
.mainNav .sidebar .titleBox h1{
     display: flex;
     align-items: center;
     height: 100px;
}
.mainNav .sidebar .titleBox svg{
     display: none;
     width: 60px;
     aspect-ratio: 1;
     fill: var(--svgcolor);
     border-radius: 5px;
}
.mainNav .sidebar .tabsContainer{
     display: flex;
     flex-direction: column;
}
.mainNav .sidebar .tabsContainer p{
     padding: 1rem;
}
.mainNav .sidebar .extraLinks{
     height: 100%;
     display: flex;
     flex-direction: row;
     gap: 1rem;
     align-items: flex-end;
     padding: 1rem;
}
.mainNav .sidebar .extraLinks svg{
     display: block;
     width: 30px;
     aspect-ratio: 1;
     fill: var(--svgcolor);
     border-radius: 5px;
}

/* topbar */
.mainNav .topbar{
     position: fixed;
     width: 100svw;
     height: 100px;
     z-index: 999;
     background-color: var(--bgcolor1);
     border-bottom: 1px solid var(--bordercolor);
     box-sizing: border-box;
}
.mainNav .topbar .topbarContent{
     display: flex;
     align-items: center;
     height: 100%;
}
.mainNav .topbar .topbarContent svg{
     display: block;
     width: 60px;
     aspect-ratio: 1;
     fill: var(--svgcolor);
     margin: 0 1rem;
     border-radius: 5px;
}

/* hover effects */
.mainNav .sidebar .titleBox svg, .mainNav .topbar .topbarContent svg, .mainNav .sidebar .extraLinks svg, .mainNav .sidebar .tabsContainer p{
     transition: background-color 0.2s ease;
}
.mainNav .sidebar .titleBox svg:hover, .mainNav .topbar .topbarContent svg:hover, .mainNav .sidebar .extraLinks svg:hover{
     background-color: var(--hoverbg);
     cursor: pointer;
}
.mainNav .sidebar .tabsContainer p:hover{
     background-color: var(--hoverbg);
     cursor: pointer;
}

/* mobile changes */
@media (max-width: 1200px){
     .mainNav .sidebar .titleBox svg{
          display: block;
     }
     .mainNav .sidebar .tabsContainer p{
          font-size: 24px;
     }
}

/* active tab styles */
.mainNav .sidebar .tabsContainer .activeTab, .mainNav .sidebar .tabsContainer .activeTab:hover{
     background-color: var(--accentbg);
     border-right: 2px solid;
     color: var(--accentcolor);
     box-sizing: border-box;
}