.opNav{
     user-select: none;
} 

/* sidebar */
.opNav .sidebar{
     position: fixed;
     display: flex;
     flex-direction: column;
     height: 100svh;
     z-index: 1000;
     background-color: var(--bgcolor1);
     border-right: 1px solid var(--bordercolor);
     box-sizing: border-box;
}
.opNav .sidebar .titleBox{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 1rem;
     height: 100px;
     padding: 0 1rem;
     border-bottom: 1px solid var(--bordercolor);
     box-sizing: border-box;
}
.opNav .sidebar .titleBox svg{
     display: none;
     width: 60px;
     aspect-ratio: 1;
     fill: var(--svgcolor);
     border-radius: 5px;
}
.opNav .sidebar .titleBox .titleElements{
     display: flex;
     gap: 1rem;
     align-items: center;
     height: 100px;
}
.opNav .sidebar .titleBox .titleElements img{
     width: 80px;
     aspect-ratio: 1;
     border: 1px solid var(--bordercolor);
     box-sizing: border-box;
     border-radius: 5px;
     padding: 5px;
}
.opNav .sidebar .titleBox .titleElements .operatorInfo{
     display: flex;
     flex-direction: column;
}
.opNav .sidebar .tabsContainer{
     display: flex;
     flex-direction: column;
}
.opNav .sidebar .tabsContainer a{
     border-bottom: 1px solid var(--bordercolor);
     box-sizing: border-box;
}
.opNav .sidebar .tabsContainer p{
     padding: 1rem;
}
.opNav .sidebar .extraLinks{
     height: 100%;
     display: flex;
     flex-direction: row;
     gap: 1rem;
     align-items: flex-end;
     padding: 1rem;
}
.opNav .sidebar .extraLinks svg{
     display: block;
     width: 30px;
     aspect-ratio: 1;
     fill: var(--svgcolor);
     border-radius: 5px;
}

/* topbar */
.opNav .topbar{
     position: fixed;
     width: 100svw;
     height: 100px;
     z-index: 999;
     background-color: var(--bgcolor1);
     border-bottom: 1px solid var(--bordercolor);
     box-sizing: border-box;
}
.opNav .topbar .topbarContent{
     display: flex;
     align-items: center;
     height: 100%;
}
.opNav .topbar .topbarContent svg{
     display: block;
     width: 60px;
     aspect-ratio: 1;
     fill: var(--svgcolor);
     margin: 0 1rem;
     border-radius: 5px;
}

/* hover effects */
.opNav .sidebar .titleBox svg, .opNav .topbar .topbarContent svg, .opNav .sidebar .extraLinks svg, .opNav .sidebar .tabsContainer p{
     transition: background-color 0.2s ease;
}
.opNav .sidebar .titleBox svg:hover, .opNav .topbar .topbarContent svg:hover, .opNav .sidebar .extraLinks svg:hover{
     background-color: var(--hoverbg);
     cursor: pointer;
}
.opNav .sidebar .tabsContainer p:hover{
     background-color: var(--hoverbg);
     cursor: pointer;
}

/* mobile changes */
@media (max-width: 1200px){
     .opNav .sidebar .titleBox svg{
          display: block;
     }
     .opNav .sidebar .tabsContainer p{
          font-size: 24px;
     }
}

/* active tab styles */
.opNav .sidebar .tabsContainer .activeTab, .opNav .sidebar .tabsContainer .activeTab:hover{
     background-color: var(--accentbg);
     border-right: 2px solid;
     color: var(--accentcolor);
     box-sizing: border-box;
}