.outfits-wrapper{
     display: flex;
     flex-direction: column;
     gap: 1rem;
}

.outfits-buttons-wrapper{
     display: flex;
     padding: 0 1rem;
     gap: 1rem;
     flex-wrap: wrap;

     & div{
          width: 50px;
          aspect-ratio: 1;
          border-radius: 5px;
          background-color: var(--bgcolor2);
          box-shadow: 0 2px 10px var(--shadow);
          transition: 0.2s ease;

          & svg{
               fill: var(--svgcolor);
          }
     }

     img{
          height: 50px;
          border-radius: 5px;
          background-color: var(--bgcolor2);
          box-shadow: 0 2px 10px var(--shadow);
          padding: 5px;
          transition: 0.2s ease;
     }

     & img:hover, div:hover{
          transform: scale(1.05);
          cursor: pointer;
          background-color: var(--bgcolor3);
     }
}

.outfits-content-wrapper{
     display: grid;
     grid-template-rows: auto;
     grid-template-columns: 2fr 1fr;
     gap: 1rem;
     padding: 0 1rem;

     & .outfits-image-wrapper{
          width: 100%;

          & img{
               width: 100%;
               max-width: 800px;
               aspect-ratio: auto;
          }
     }

     & .outfits-info-wrapper{
          display: flex;
          flex-direction: column;
          gap: 1rem;

          & .outfits-description{
               display: flex;
               flex-direction: column;
               gap: 0.5rem;

               & *{
                    color: var(--subtextcolor)
               }
          }
     }
}

@media (max-width: 1200px){
     .outfits-content-wrapper{
          grid-template-rows: auto auto;
          grid-template-columns: auto;
     }
}